<h1>Home</h1>
<textarea id="out"></textarea>

<script src="/js/http.js"></script>
<script>

var updateInfo = function(res, obj){

   document.getElementById('out').value += res;

};

var infoObj = {
    action: 'info'
};

// info loop
var loop = function(){
    sendObject(infoObj, updateInfo);
    setTimeout(loop, 3000);
};
loop();

</script>