<h1>Home</h1>
<textarea id="out" rows="10" cols="60"></textarea>

<script src="/js/http.js"></script>
<script>

var updateInfo = function(res, obj){
   var obj = JSON.parse(res);
   //document.getElementById('out').value += obj.sessionID + ' : ' + obj.pointer.x + '\n\n';
   document.getElementById('out').value += Object.keys(obj.pointers).length + '\n\n';
};

var infoObj = {
    action: 'info'
};

// info loop
var loop = function(){
    sendObject(infoObj, updateInfo);
    setTimeout(loop, 3000);
};
loop();

</script>