<!doctype html>
<html lang="en">
<head>
    <title>Express EJS and static file hosting.</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrap_main">
        <div class="warp_header">
            <h1>Hello I am a static Page.</h1>
        </div>
        <div class="warp_content">
            <p>This is some content</p>
        </div>
    </div>
</body>