<div id="disp" class="row">
    <div class="col-md-6">Money: <span class="money">-1</span></div>
    <div class="col-md-6">WordPoints: <span class="wp">-1</span></div>
</div>

<div class="row">
    <div class="col-md-2">
        <input id="button_write" type="button" value="write"><br>
    </div>
    <div class="col-md-10"><textarea class="text_write" cols="80" rows="15"></textarea></div>
</div>