<!doctype html>
<html lang="en">
<head>
    <title>Express EJS and static file hosting.</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrap_main">
        <div class="warp_header">
            
        </div>
        <div class="warp_content">
            <%- include('layouts/'+ layout +'.ejs') %>
        </div>
    </div>
</body>