* {
	background: black;
	color: white;
	padding:0px;
	margin:0px;
}

.menu_text{
	background: white;
	color:black;
	
}

.menu{
	position:relative;
}

.menu_item{
	position:relative;
	display: inline-block;
	width:50px;
}

.menu_options{
	position: relative;
	top:0px;
	left:0px;
	z-index: 1;
}

.editor{
	position:relative;
	padding: 10px
}
