<!doctype html>
<html lang="en">
<head>
    <title>Express EJS and static file hosting.</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/utils.js"></script>
    <script src="/js/http.js"></script>
</head>
<body>
    <div class="wrap_main">
        <div class="wrap_header">
            <h1>EXpress EJS Demo</h1>
        </div>
        <div class="wrap_content">
            <%- include('layouts/'+ layout +'.ejs') %>
        </div>
    </div>
</body>